In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import dataset

In [2]:
data = pd.read_excel('marketing_and_product_performance.xlsx')

## Exploratory Data Analysis

In [38]:
data.head()
# Return on Investment

,Campaign_ID,Product_ID,Budget,Clicks,Conversions,Revenue_Generated,ROI,Customer_ID,Subscription_Tier,Subscription_Length,Flash_Sale_ID,Discount_Level,Units_Sold,Bundle_ID,Bundle_Price,Customer_Satisfaction_Post_Refund,Common_Keywords
0,CMP_RLSDVN,PROD_HBJFA3,41770,4946,73,15520,1.94,CUST_1K7G39,Premium,4,FLASH_1VFK5K,43,34,BNDL_29U6W5,433,4,Affordable
1,CMP_JHHUE9,PROD_OE8YNJ,29900,570,510,30866,0.76,CUST_0DWS6F,Premium,4,FLASH_1M6COK,28,97,BNDL_ULV60J,289,2,Innovative
2,CMP_6SBOWN,PROD_4V8A08,22367,3546,265,32585,1.41,CUST_BR2GST,Basic,9,FLASH_J4PEON,51,160,BNDL_0HY0EF,462,4,Affordable
3,CMP_Q31QCU,PROD_A1Q6ZB,29957,2573,781,95740,3.32,CUST_6TBY6K,Premium,32,FLASH_1TOVXT,36,159,BNDL_AI09BC,334,1,Durable
4,CMP_AY0UTJ,PROD_F57N66,36277,818,79,81990,3.53,CUST_XASI45,Standard,29,FLASH_AOBHXL,20,52,BNDL_R03ITT,371,2,Affordable

In [9]:
pd.DataFrame(data.columns)

                                    0
0                         Campaign_ID
1                          Product_ID
2                              Budget
3                              Clicks
4                         Conversions
5                   Revenue_Generated
6                                 ROI
7                         Customer_ID
8                   Subscription_Tier
9                 Subscription_Length
10                      Flash_Sale_ID
11                     Discount_Level
12                         Units_Sold
13                          Bundle_ID
14                       Bundle_Price
15  Customer_Satisfaction_Post_Refund
16                    Common_Keywords

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Campaign_ID                        10000 non-null  object
 1   Product_ID                         10000 non-null  object
 2   Budget                             10000 non-null  float64
 3   Clicks                             10000 non-null  int64
 4   Conversions                        10000 non-null  int64
 5   Revenue_Generated                  10000 non-null  float64
 6   ROI                                10000 non-null  float64
 7   Customer_ID                        10000 non-null  object
 8   Subscription_Tier                  10000 non-null  object
 9   Subscription_Length                10000 non-null  int64
 10  Flash_Sale_ID                      10000 non-null  object
 11  Discount_Level                     10000 non-null  int64
 12  Units_Sold                         10000 non-null  int64
 13  Bundle_ID                          10000 non-null  object
 14  Bundle_Price                       10000 non-null  float64
 15  Customer_Satisfaction_Post_Refund  10000 non-null  int64
 16  Common_Keywords                    10000 non-null  object
dtypes: float64(4), int64(6), object(7)
memory usage: 1.3+ MB

In [11]:
data.shape

(10000, 17)

## Dealing with Nulls

In [14]:
data.isnull().sum()
# there are not nulls in dataset

Campaign_ID                          0
Product_ID                           0
Budget                               0
Clicks                               0
Conversions                          0
Revenue_Generated                    0
ROI                                  0
Customer_ID                          0
Subscription_Tier                    0
Subscription_Length                  0
Flash_Sale_ID                        0
Discount_Level                       0
Units_Sold                           0
Bundle_ID                            0
Bundle_Price                         0
Customer_Satisfaction_Post_Refund    0
Common_Keywords                      0
dtype: int64

## Duplicates

In [29]:
data['Campaign_ID'].duplicated().sum()
# No duplicated values

0

In [31]:
data['Product_ID'].duplicated().sum()
# Each advertising campaign is based on one product.

0

## Data Types

In [32]:
data['Budget'] = data['Budget'].astype('int64')

In [33]:
data['Revenue_Generated'] = data['Revenue_Generated'].astype('int64')

In [35]:
data['Bundle_Price'] = data['Bundle_Price'].astype('int64')

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Campaign_ID                        10000 non-null  object
 1   Product_ID                         10000 non-null  object
 2   Budget                             10000 non-null  int64
 3   Clicks                             10000 non-null  int64
 4   Conversions                        10000 non-null  int64
 5   Revenue_Generated                  10000 non-null  int64
 6   ROI                                10000 non-null  float64
 7   Customer_ID                        10000 non-null  object
 8   Subscription_Tier                  10000 non-null  object
 9   Subscription_Length                10000 non-null  int64
 10  Flash_Sale_ID                      10000 non-null  object
 11  Discount_Level                     10000 non-null  int64
 12  Units_Sold                         10000 non-null  int64
 13  Bundle_ID                          10000 non-null  object
 14  Bundle_Price                       10000 non-null  int64
 15  Customer_Satisfaction_Post_Refund  10000 non-null  int64
 16  Common_Keywords                    10000 non-null  object
dtypes: float64(1), int64(9), object(7)
memory usage: 1.3+ MB

# Analysis and Insights

#### Top 5 products in an advertising campaign according to budget

In [61]:
Top_products = data.groupby(['Campaign_ID','Product_ID'])['Budget'].sum().sort_values(ascending=False).head(5)
Top_products = pd.DataFrame(Top_products)
Top_products

                         Budget
Campaign_ID Product_ID
CMP_7FVX2Z  PROD_P0K4T6   49999
CMP_XWDTMN  PROD_F5VQXA   49998
CMP_ROPOIR  PROD_HOIXUX   49990
CMP_BCB1BA  PROD_46S8C0   49987
CMP_ABR1BJ  PROD_QTTHYL   49984

#### Top 5 products in an advertising campaign according to Revenue Generated

In [62]:
Top_Revenue  = data.groupby(['Campaign_ID','Product_ID'])['Revenue_Generated'].sum().sort_values(ascending=False).head(5)
Top_Revenue = pd.DataFrame(Top_Revenue)
Top_Revenue

                         Revenue_Generated
Campaign_ID Product_ID
CMP_QL4ACK  PROD_YWCQ5B              99999
CMP_T6578B  PROD_OEWJUT              99995
CMP_KJHPXL  PROD_8JEJ8V              99980
CMP_055BQ3  PROD_XETFB1              99958
CMP_XRPO8L  PROD_CAG26A              99931

#### Top 5 campaigns in terms of return on investment (ROI) and Budget

In [78]:
Top_ROI = data.groupby(['Campaign_ID','Budget'])['ROI'].sum().sort_values(ascending=False).head(5)
Top_ROI = pd.DataFrame(Top_ROI)
Top_ROI

                    ROI
Campaign_ID Budget
CMP_S6VF9Q  31962   5.0
CMP_OVJM10  38876   5.0
CMP_W8XDX6  10713   5.0
CMP_2GQ6OB  20033   5.0
CMP_XXSB3M  18589   5.0

#### Number of customers per subscription

In [81]:
customers_subscription = data['Subscription_Tier'].value_counts().sort_values(ascending=False)
customers_subscription = pd.DataFrame(customers_subscription)
customers_subscription

                   count
Subscription_Tier
Basic               3416
Standard            3300
Premium             3284

#### Top 10 Products per Total Units Sold

In [88]:
Total_Units = data.groupby(['Product_ID'])['Units_Sold'].sum().sort_values(ascending=False).head(10)
Total_Units = pd.DataFrame(Total_Units)
Total_Units

             Units_Sold
Product_ID
PROD_5187B5       199.0
PROD_QLLVKL       199.0
PROD_YTTEGH       199.0
PROD_41SS4F       199.0
PROD_NI6KGB       199.0
PROD_1GC6EB       199.0
PROD_XA34OD       199.0
PROD_9J9X35       199.0
PROD_YY3HP2       199.0
PROD_92TWJU       199.0

####  Average Units Sold

In [92]:
avg_units = data['Units_Sold'].mean()
avg_units

100.6896

In [95]:
data['Units_Sold'].value_counts().sort_values(ascending=False).head(10)

Units_Sold
133    69
52     67
56     67
179    66
15     64
186    64
67     63
123    63
159    63
128    62
Name: count, dtype: int64

#### The most expensive 10 bundles ?

In [100]:
Total_bundle = data[['Bundle_ID','Bundle_Price']].sort_values(by='Bundle_Price', ascending=False).head(10)
Total_bundle = pd.DataFrame(Total_bundle)
Total_bundle

        Bundle_ID  Bundle_Price
1304  BNDL_5VE8EG           499
1375  BNDL_WF3V9J           499
9702  BNDL_MRKFQT           499
7401  BNDL_GPH0TN           499
4285  BNDL_EDOK4J           499
5197  BNDL_AF3UAJ           499
1218  BNDL_BAH5E4           499
6466  BNDL_0SSBI1           499
2757  BNDL_2S9F0O           499
2777  BNDL_UW83HW           499

In [104]:
data[['Bundle_ID','Bundle_Price']].sort_values(by='Bundle_Price',ascending=False).value_counts().head(10)

Bundle_ID    Bundle_Price
BNDL_0013N3  88              1
BNDL_O3L0O3  424             1
BNDL_O30RDS  255             1
BNDL_O321J0  332             1
BNDL_O3231A  441             1
BNDL_O34JB3  251             1
BNDL_O37RMA  149             1
BNDL_O396M2  261             1
BNDL_O3KYBD  286             1
BNDL_O3LTW0  215             1
Name: count, dtype: int64

In [105]:
data.to_excel('Marketing.xlsx')